#slotmachine{
    width:500px;
    background-color: wheat;
    height: 100px;
    margin:150px auto;
}

.slot{
    width:32.7%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #3498DB;
    display: inline-block;
    margin: 0px;
    color:white;
    font-size: 20px;
}